<h1 class="display-4 text-center mb-4">User Management</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
  <%= link_to 'Add New User', new_admin_page_path, class: 'btn btn-success' %>
</div>

<table class="table table-hover table-bordered table-dark">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td> <!-- Concatenated first_name and last_name -->
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td class="text-center">
          <%= link_to 'Edit', edit_admin_page_path(user), class: 'btn btn-outline-warning me-2' %>
          <% unless user == current_user %>
            <%= link_to 'Delete', admin_page_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user '#{user.first_name} #{user.last_name}'? This action cannot be undone." }, class: 'btn btn-outline-danger' %>
          <% else %>
            <button class="btn btn-outline-danger" disabled>Delete (Disabled)</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
