<%= form_with(model: board, local: true, class: 'bg-dark text-light p-4 rounded shadow') do |form| %>
    
    <!-- Name input -->
    <div class="form-group mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control bg-secondary text-light', placeholder: "Enter board title", style: "width: 250px;"  %>
    </div>

    <!-- Description input -->
    <div class="form-group mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control bg-secondary text-light', rows: 5, placeholder: "Board description", style: "width: 500px;"  %>
    </div>

    <!-- Team selection -->
    <div class="form-group mb-3">
      <%= form.label :team_id, "Select Team", class: 'form-label' %>
      <%= form.collection_select :team_id, teams, :id, :name, prompt: "Select a Team", class: 'form-control bg-secondary text-light'  %>
    </div>

    <div class="actions">
      <%= form.submit 'Create Board', class: 'btn btn-primary' %>
    </div>

<% end %>

