<h1 class="display-4 text-center mb-4"><%= @board.name %></h1>

<!-- Collapsible Board Description -->
<div class="board-description mb-3" >
  <h5>Board Description:</h5>
  <div id="boardDescriptionCollapsed" class="collapsed-text">
    <%= truncate(@board.description, length: 100) %>... <i class="bi bi-chevron-down"></i>
  </div>
  <div id="boardDescriptionExpanded" class="expanded-text" style="display: none;">
    <%= @board.description %> <i class="bi bi-chevron-up"></i>
  </div>
</div>

<div class="d-flex align-items-center mb-3">
  <% if current_user.admin? || current_user.manager? %>
    <%= link_to 'Add New Task', new_board_tasks_page_path(@board), class: 'btn btn-success me-3' %> <!-- Added margin-end (me-3) -->
  <% end %>

  <!-- Delete Board Button, visible only to admins -->
  <% if current_user.admin? %>    
    <% if @board.tasks.any? %>
      <%= link_to 'Delete Board', board_path(@board), method: :delete, data: { confirm: "#{@board.name} board has tasks. Deleting this board will also delete all associated tasks. Are you sure you want to continue?" }, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Delete Board', board_path(@board), method: :delete, data: { confirm: "Are you sure you want to delete #{@board.name} board?" }, class: 'btn btn-danger' %>
    <% end %>    
  <% end %>  
</div>

<table class="table table-hover table-bordered table-dark">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Assigned User</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>

        <!-- Truncated Description with Tooltip -->
        <td>
          <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= task.description %>">
            <%= truncate(task.description, length: 60) %>
          </span>
        </td>

        <td><%= task.due_date %></td>

        <!-- Render the status dropdown partial -->
        <td>
          <%= render partial: 'shared/status_dropdown', locals: { task: task } %>
        </td>
        
        <!-- Render the priority dropdown partial -->
        <td>
          <%= render partial: 'shared/priority_dropdown', locals: { task: task } %>
        </td>

        <!-- Render the assigned user dropdown partial -->
        <td>
          <%= render partial: 'shared/assigned_user_dropdown', locals: { task: task } %>
        </td>


        <td class="text-center">
          <%= link_to 'Edit', edit_board_tasks_page_path(@board, task), class: 'btn btn-outline-warning me-2' %>
          <%= link_to 'Delete', board_tasks_page_path(@board, task), method: :delete, data: { confirm: "Are you sure you want to delete the task '#{task.title}'?" }, class: 'btn btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
  document.addEventListener('turbo:load', function () {
    // Toggle Description
    const collapsed = document.getElementById('boardDescriptionCollapsed');
    const expanded = document.getElementById('boardDescriptionExpanded');

    collapsed.addEventListener('click', function() {
      collapsed.style.display = 'none';
      expanded.style.display = 'block';
    });

    expanded.addEventListener('click', function() {
      expanded.style.display = 'none';
      collapsed.style.display = 'block';
    });

    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Priority dropdown auto-submit on change
    document.querySelectorAll('.priority-dropdown-form select').forEach(function(select) {
      select.addEventListener('change', function() {
        // Submit the form when the priority is changed
        this.form.submit();
      });
    });

    // Status dropdown auto-submit on change
    document.querySelectorAll('.status-dropdown-form select').forEach(function(select) {
      select.addEventListener('change', function() {
        // Submit the form when the status is changed
        this.form.submit();
      });
    });

    // Assigned user dropdown auto-submit on change
    document.querySelectorAll('.assigned-user-dropdown-form select').forEach(function(select) {
      select.addEventListener('change', function() {
        // Submit the form when the assigned user is changed
        this.form.submit();
      });
    });

  });
</script>